body {
  margin: 10px;
  /* padding: 2%;
  width: 100%;
  height: 100%; */
  color: white;
  background-color: black;
}
#white {
  color: white;
}
#top {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
.bgimage1 {
  padding: 100px;
  background-image: url(yellowbg.jpeg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 4px;
}
#bgcolor {
  background-color: black;
  color: white;
}
.form {
  border-style: outset;
  background: #000;
  text-align: center;
  color: aquamarine;
  box-sizing: border-box;
  padding: 10px;  
}
.pad {
  line-height: 25px;
  width: 940px;
  height: 100px; 
  padding-left: 300px;
  padding-bottom: 540px; 
}
  